<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <style>
    * {
      background-color: grey;
    }
  </style>
  <body>
    <!-- data: fullname, uri untuk aktivasi email -->
    <div>
      <h1>WELCOME, {{fullName}}</h1>
      <p>Thanks for registering to our App</p>
      <p>Your OTP is {{otp}}</p>
      <p>Please click the link below to verify your email</p>
      <a href="{{activationLink}}"></a><button type="button">Verify Your Email</button>
    </div>
  </body>
</html>
